Django>=4.2
djangorestframework
psycopg2-binary
python-dotenv
gunicorn

# LangChain + AI
langchain
langchain-community
langchain-openai
openai
chromadb

# PDF / PPTX
pymupdf
pdfminer.six
python-pptx
pytesseract
